body
{
    font-family: Roboto;
}
.navbar-bg
{
    width: auto;
    height: 64px;
    background: #525252 0% 0% no-repeat padding-box;
    opacity: 0.8; 
}
.book-btn
{
width:auto;
height: 40px;
background: #29626D 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF80;
border-radius: 20px;
opacity: 1;
color: #FFFFFF;
}
@media screen and (max-width: 1560px) {
    .img-fluid {
      width: auto;
    }
    .navbar-bg
    {
        height: auto;
        width: auto;
    }
  }
.border-col
{
    border-bottom-color: #1D7A8C !important;
}
.faq-btn
{
    background-color: #FFFFFF;
    color:black !important;
}
.active{
    background-color: #1D7A8C !important;
    color: #FFFFFF !important;
}
.sep
{
    border-left:1px solid white;
}
.hori-line
{
    border-bottom:1px solid #424242;
}
a{
    text-decoration: none;
}