.homepage_bg
{
   margin-top: 0px;
   margin-left: 0px;
   background: #525252 0% 0% no-repeat padding-box;
   background-image: url("./assets/become-a-pro-banner.png"); 
   width: 100%;
   height: auto;
}
.book-btn
{
   width:auto;
   height: 40px;
   background: #29626D 0% 0% no-repeat padding-box;
   border: 1px solid #FFFFFF80;
   border-radius: 20px;
   opacity: 1;
   color: #FFFFFF;
}
.nav-text
{
margin-top: 52px;
margin-left: 644px;
width:auto;
height: 20px;
text-align: right;
letter-spacing: 0px;
color: #FFFFFF;
}
.book-btn a{
    text-decoration: none;
    width: 170px;
    height: 40px;
}